@mixin message-style($background) {
    background: $background;
    padding: $padding-med;
    color: $white;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: $regular;
}
